:root {
  /*primary*/
  --strong-cyan: hsl(172, 67%, 45%);
  
  /*neutral*/
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}




/*
=============================
  GlOBAL STYLES
=============================
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Space Mono', monospace;
  background: var(--light-grayish-cyan);
  width: 100%;
}

button,
input {
  font-family: inherit;
}

fieldset {
  border: none;
}

label, 
.tip__heading {
  color: var(--dark-grayish-cyan);
  font-weight: 700;
  font-size: 1rem;
}




/*
=============================
  HEADER
=============================
*/
.logo {
  padding: 50px;
  display: grid;
  place-content: center;
}




/*
=============================
  FORM STYLES
=============================
*/
form {
  background: var(--white);
  max-width: 960px;
  height: 100%;
  border-radius: 20px 20px 0 0;
  padding: 20px;
}

form input {
  display: block;
  outline: none;
  border-radius: 5px;
  border: none;
}

form label {
  display: block;
  margin-bottom: 8px;
}

.bill,
.people {
  position: relative;
  margin-bottom: 40px;
}

.bill input,
.people input {
  width: 100%;
  text-align: right;
  background: var(--very-light-grayish-cyan);
  color: var(--very-dark-cyan);
  font-size: 1.25rem;
  padding: 10px 8px;
}

.bill input:focus,
.people input:focus {
  border: 2px solid var(--strong-cyan);
  padding: 8px;
}

.bill input::placeholder,
.people input::placeholder {
  color: var(--grayish-cyan);
}

.bill img,
.people img {
  position: absolute;
  top: 48px;
  left: 8px;
}

.people p {
  display: none;
}




/*
=============================
  TIP SECTION
=============================
*/
.tip {
  margin-bottom: 40px;
}

.tip__heading {
  margin-bottom: 8px;
}

.tip__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 15px;
}

.tip__button {
  color: var(--white);
  background: var(--very-dark-cyan);
}

.tip__button,
.tip__input {
  width: 100%;
  text-align: center;
  padding: 8px 5px;
  font-size: 1.25rem;
  font-weight: 700;
}

.tip__button:active {
  background: var(--strong-cyan);
}

.tip__input {
  background: var(--very-light-grayish-cyan);
  text-align: right;
  color: var(--very-dark-cyan);
}

.tip__input::placeholder {
  text-align: center;
}




/*
=============================
  FORM RESULT SECTION
=============================
*/
.result {
  background: var(--very-dark-cyan);
  border-radius: 10px;
  padding: 40px 15px 15px;
  display: flex;
  flex-direction: column;
}

.result__amount,
.result__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-grayish-cyan);
}

.result div + div {
  margin-bottom: 20px;
}

.result div:last-child {
  display: flex;
  gap: 10px;
}

.result span {
  color: var(--white);
}

.result output {
  color: var(--strong-cyan);
  font-size: 2.5rem;
}

.result button {
  width: 50%;
  font-size: 1.25rem;
  padding: 8px;
  background: var(--strong-cyan);
  text-transform: uppercase;
  color: var(--very-dark-cyan);
  border: none;
  border-radius: 5px;
}

.result button:active {
  background: var(--light-grayish-cyan);
}
.result div:last-child {
  margin-top: auto;
}




/*
=============================
  LOADER
=============================
*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--light-grayish-cyan);
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  transition: opacity 1.5s, visibility 1.5s;
}

.loader::before {
  content: "";
  width: 50px;
  height: 50px;
  border: 8px solid var(--white);
  border-top: 8px solid var(--very-dark-cyan);
  border-radius: 50%;
  animation: loader 1s ease infinite;
}

.loader::after {
  content: "Loading...";
  color: var(--white);
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}


@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




/*
=============================
  JAVASCRIPT ACTIVE STATES
=============================
*/
.invalid .bill__label,
.invalid h2{
  color: red;
}

.people.invalid div {
  display: flex;
  justify-content: space-between;
}

.people.invalid p {
  color: red;
  display: block;
}

.people.invalid input,
.people.invalid input:focus {
  border: 2px solid red;
}




/*
=============================
  MEDIA QUERYS
=============================
*/
@media screen and (min-width: 960px) {
  body {
    height: 100vh;
  }

  form {
    margin: 0 auto;
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    justify-content: center;
    gap: 50px;
    margin-bottom: 200px;
    border-radius: 20px;
    padding: 30px;
  }

  .result {
    padding: 40px 30px 50px;
  }
}